body {
  margin: 0 1.5rem;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  position: fixed;
  width: calc(100% - 3rem);
  height: 2rem;
  z-index: 1;
}

body .header a {
  color: #333;
}

body .header::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  width: 100%;
  border-bottom: 1px solid #333;
}

body .header .title {
  font-size: 1rem;
  font-weight: 900;
  margin-right: 2rem;
}

body .header .nav_section_divide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  text-decoration: none;
}

body .header .nav_section_divide .nav_list_first .dropdown_title1,
body .header .nav_section_divide .nav_list_first .dropdown_title2,
body .header .nav_section_divide .nav_list_first .dropdown_title3 {
  font-size: 12px;
}

body .header .nav_section_divide .nav_list_first .dropdown_title1:hover,
body .header .nav_section_divide .nav_list_first .dropdown_title2:hover,
body .header .nav_section_divide .nav_list_first .dropdown_title3:hover {
  color: #cbcac6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .header .nav_section_divide .nav_list_first .dropdown_title1:hover .dropdown_menu1,
body .header .nav_section_divide .nav_list_first .dropdown_title2:hover .dropdown_menu2,
body .header .nav_section_divide .nav_list_first .dropdown_title3:hover .dropdown_menu3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  color: #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .header .nav_section_divide .nav_list_first .dropdown_menu1 .dropdown_section {
  margin-bottom: 6rem;
}

body .header .nav_section_divide .nav_list_first .dropdown_menu2 .dropdown_section {
  margin-bottom: 5rem;
}

body .header .nav_section_divide .nav_list_first .dropdown_menu3 .dropdown_section {
  margin-bottom: 2rem;
}

body .header .nav_section_divide .nav_list_first .dropdown_menu1,
body .header .nav_section_divide .nav_list_first .dropdown_menu2,
body .header .nav_section_divide .nav_list_first .dropdown_menu3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-700px);
          transform: translateY(-700px);
  position: absolute;
  left: -1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  width: 100%;
  opacity: 0;
  width: 100%;
  padding-right: 3rem;
  border-bottom: 1px solid #333;
}

body .header .nav_section_divide .nav_list_first .dropdown_section {
  margin-top: 1rem;
  width: calc(100% / 6);
}

body .header .nav_section_divide .nav_list_first .dropdown_section:not(:first-child) {
  margin-left: 20px;
}

body .header .nav_section_divide .nav_list_first .dropdown_section li:not(:first-child) {
  margin-bottom: 10px;
}

body .header .nav_section_divide .nav_list_first .dropdown_section:not(.not_border) {
  border-right: 1px solid #cbcac6;
}

body .header .nav_section_divide .nav_list_first .dropdown_section .menu_bold {
  font-size: 16px;
  font-weight: bold;
  margin: 1.5rem 10rem 1.5rem 0;
}

body .header .nav_section_divide .nav_list_first .dropdown_section:nth-child(1) {
  margin-left: 1.5rem;
}

body .header .nav_section_divide .nav_list_first > span {
  margin: 0 1rem;
}

body .header .nav_section_divide .nav_list_second .dropdown_title4,
body .header .nav_section_divide .nav_list_second .dropdown_title5,
body .header .nav_section_divide .nav_list_second .dropdown_title6 {
  font-size: 12px;
}

body .header .nav_section_divide .nav_list_second .dropdown_title4:hover,
body .header .nav_section_divide .nav_list_second .dropdown_title5:hover,
body .header .nav_section_divide .nav_list_second .dropdown_title6:hover {
  color: #cbcac6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .header .nav_section_divide .nav_list_second .dropdown_title4 .dropdown_menu4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  padding-top: 5rem;
  padding-bottom: 20rem;
}

body .header .nav_section_divide .nav_list_second .dropdown_title4 .dropdown_menu4 .search_title {
  margin-left: 3rem;
  font-size: 36px;
}

body .header .nav_section_divide .nav_list_second .dropdown_title4 .dropdown_menu4 .search_input {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  width: 40rem;
  font-size: 16px;
}

body .header .nav_section_divide .nav_list_second .dropdown_title4:hover .dropdown_menu4 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  position: absolute;
  left: -1.5rem;
  width: 100%;
  padding-right: 3rem;
  border-bottom: 1px solid #333;
  color: #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .header .nav_section_divide .nav_list_second .dropdown_menu4 {
  -webkit-transform: translateY(-700px);
          transform: translateY(-700px);
  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 2;
  width: 100%;
  opacity: 0;
}

body .header .nav_section_divide .nav_list_second .dropdown_menu4 .search_input {
  color: #333;
}

body .header .nav_section_divide .nav_list_second > span {
  margin-left: 2rem;
}

body .section_main_poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section_main_poster .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

body .section_main_poster .img img {
  width: 75rem;
  height: 42rem;
  margin-right: 1rem;
}

body .section_main_poster .img .border_right {
  border-right: 1px solid #cbcac6;
}

body .section_main_poster .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
  margin-left: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .section_main_poster .text h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 9rem;
}

body .section_main_poster .text p {
  font-size: 12px;
  line-height: 1.5;
}

body .section_item_list {
  font-size: 14px;
}

body .section_item_list .toggle {
  height: 3rem;
}

body .section_item_list .text {
  padding-top: 4rem;
  height: 1rem;
}

body .section_item_list .text .left {
  float: left;
}

body .section_item_list .text .filter {
  display: block;
  text-align: right;
}

body .section_item_list .text .right {
  width: 100%;
  float: right;
}

body .section_item_list .text .right .toggle {
  display: none;
}

body .section_item_list .text .right .item_menu {
  text-align: right;
  padding: 12px 0;
}

body .section_item_list .text .right .item_menu li {
  display: inline-block;
  margin-left: 1rem;
}

body .section_item_list .text .right .border_bottom {
  border-bottom: 1px solid #333;
  width: 100%;
}

body .section_product_list .product_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

body .section_product_list .product_list .product {
  width: 23%;
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 12px;
}

body .section_product_list .product_list .product .product_image {
  width: 100%;
}

body .section_product_list .product_list .product .product_border {
  margin-top: 2rem;
  margin-bottom: 8px;
  border: 1px solid #cbcac6;
}

body .section_product_list .product_list .product .product_text {
  position: relative;
  top: 0;
  right: 0;
}

body .section_product_list .product_list .product .product_text .product_name {
  font-weight: bold;
  line-height: 1.4;
}

body .section_product_list .product_list .product .product_text .product_color {
  position: absolute;
  top: 0;
  right: 0;
}

body .section_product_list .product_list .product .product_text .product_kr_information {
  color: #cbcac6;
  line-height: 1.4;
  margin: 1rem 0;
}

body .section_product_list .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 6rem;
  font-size: 12px;
}

body .section_product_list .page > * {
  margin-right: 12px;
}

body .footer {
  font-size: 12px;
}

body .footer .border {
  border-top: 1px solid #333;
  position: absolute;
  right: 0rem;
  width: 100vw;
}

body .footer .text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

body .footer .text_flex .text_left {
  margin-top: 1rem;
  line-height: 1.4;
}

body .footer .text_flex .text_left .margin_bottom {
  margin-bottom: 1rem;
}

body .footer .text_flex .text_right {
  margin-top: 1.5rem;
  font-size: 14px;
}

body .footer .text_flex .text_right > a {
  margin-left: 1rem;
}
/*# sourceMappingURL=main.css.map */