$main_black: #333;
$main_fontSize: 12px;
$opacity_black: #cbcac6;

body {
  margin: 0 1.5rem;

  .header {
    display: flex;
    margin-top: 8px;
    position: fixed;
    width: calc(100% - 3rem);
    height: 2rem;
    z-index: 1;
    a {
      color: $main_black;
    }

    &::after {
      content: "";
      position: absolute;
      top: 1.5rem;
      width: 100%;
      border-bottom: 1px solid $main_black;
    }

    .title {
      font-size: 1rem;
      font-weight: 900;
      margin-right: 2rem;
    }

    .nav_section_divide {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      text-decoration: none;

      .nav_list_first {
        .dropdown_title1,
        .dropdown_title2,
        .dropdown_title3 {
          font-size: $main_fontSize;

          &:hover {
            color: $opacity_black;
            transition: all 0.5s;
          }
        }

        .dropdown_title1:hover .dropdown_menu1,
        .dropdown_title2:hover .dropdown_menu2,
        .dropdown_title3:hover .dropdown_menu3 {
          transform: translateY(0);
          opacity: 1;
          color: $main_black;
          transition: all 0.5s;
        }

        .dropdown_menu1 {
          .dropdown_section {
            margin-bottom: 6rem;
          }
        }

        .dropdown_menu2 {
          .dropdown_section {
            margin-bottom: 5rem;
          }
        }

        .dropdown_menu3 {
          .dropdown_section {
            margin-bottom: 2rem;
          }
        }

        .dropdown_menu1,
        .dropdown_menu2,
        .dropdown_menu3 {
          display: flex;
          transform: translateY(-700px);
          position: absolute;
          left: -1.5rem;
          background-color: rgba($color: #fff, $alpha: 0.8);
          z-index: 2;
          width: 100%;
          opacity: 0;
          width: 100%;
          padding-right: 3rem;
          border-bottom: 1px solid $main_black;
        }

        .dropdown_section {
          margin-top: 1rem;
          width: calc(100% / 6);

          &:not(:first-child) {
            margin-left: 20px;
          }

          li:not(:first-child) {
            margin-bottom: 10px;
          }

          &:not(.not_border) {
            border-right: 1px solid $opacity_black;
          }

          .menu_bold {
            font-size: 16px;
            font-weight: bold;
            margin: 1.5rem 10rem 1.5rem 0;
          }
        }

        .dropdown_section:nth-child(1) {
          margin-left: 1.5rem;
        }

        & > span {
          margin: 0 1rem;
        }
      }

      .nav_list_second {
        .dropdown_title4,
        .dropdown_title5,
        .dropdown_title6 {
          font-size: $main_fontSize;
          &:hover {
            color: $opacity_black;
            transition: all 0.5s;
          }
        }

        .dropdown_title4 {
          .dropdown_menu4 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            opacity: 0;
            padding-top: 5rem;
            padding-bottom: 20rem;

            .search_title {
              margin-left: 3rem;
              font-size: $main_fontSize * 3;
            }

            .search_input {
              outline: none;
              border: none;
              border-bottom: 1px solid $main_black;
              width: 40rem;
              font-size: 16px;
            }
          }
        }

        .dropdown_title4:hover .dropdown_menu4 {
          transform: translateY(0);
          opacity: 1;
          position: absolute;
          left: -1.5rem;
          width: 100%;
          padding-right: 3rem;
          border-bottom: 1px solid $main_black;
          color: $main_black;
          transition: all 0.5s;
        }

        .dropdown_menu4 {
          transform: translateY(-700px);
          position: absolute;
          left: 0;
          background-color: #fff;
          z-index: 2;
          width: 100%;
          opacity: 0;

          .search_input {
            color: $main_black;
          }
        }

        & > span {
          margin-left: 2rem;
        }
      }
    }
  }

  .section_main_poster {
    display: flex;

    .img {
      display: flex;
      margin-top: 4rem;
      img {
        width: 75rem;
        height: 42rem;
        margin-right: 1rem;
      }

      .border_right {
        border-right: 1px solid $opacity_black;
      }
    }

    .text {
      display: flex;
      flex-wrap: wrap;
      margin-top: 4rem;
      margin-left: 1rem;
      align-items: flex-end;
      h3 {
        font-size: $main_fontSize * 2;
        font-weight: 400;
        margin-bottom: 9rem;
      }
      p {
        font-size: $main_fontSize;
        line-height: 1.5;
      }
    }
  }

  .section_item_list {
    font-size: 14px;

    .toggle {
      height: 3rem;
    }
    .text {
      padding-top: 4rem;
      height: 1rem;
      .left {
        float: left;
      }
      .filter {
        display: block;
        text-align: right;
      }
      .right {
        width: 100%;
        float: right;

        .toggle {
          display: none;
        }

        .item_menu {
          text-align: right;
          padding: $main_fontSize 0;
          li {
            display: inline-block;
            margin-left: 1rem;
          }
        }
        .border_bottom {
          border-bottom: 1px solid $main_black;
          width: 100%;
        }
      }
    }
  }

  .section_product_list {
    .product_list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      .product {
        width: 23%;
        margin-top: 2rem;
        margin-bottom: 5rem;
        font-size: $main_fontSize;
        .product_image {
          width: 100%;
        }
        .product_border {
          margin-top: 2rem;
          margin-bottom: 8px;
          border: 1px solid $opacity_black;
        }
        .product_text {
          position: relative;
          top: 0;
          right: 0;
          .product_name {
            font-weight: bold;
            line-height: 1.4;
          }
          .product_color {
            position: absolute;
            top: 0;
            right: 0;
          }
          .product_kr_information {
            color: $opacity_black;
            line-height: 1.4;
            margin: 1rem 0;
          }
        }
      }
    }

    .page {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 6rem;
      font-size: $main_fontSize;

      & > * {
        margin-right: $main_fontSize;
      }
    }
  }
  .footer {
    font-size: $main_fontSize;
    .border {
      border-top: 1px solid $main_black;
      position: absolute;
      right: 0rem;
      width: 100vw;
    }
    .text_flex {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;

      .text_left {
        margin-top: 1rem;
        line-height: 1.4;
        .margin_bottom {
          margin-bottom: 1rem;
        }
      }

      .text_right {
        margin-top: 1.5rem;
        font-size: 14px;
        & > a {
          margin-left: 1rem;
        }
      }
    }
  }
}
